// Цвета
$white: #f6f5f4;
$black: #1c1b20;
$gray: #cfcfcf;
$yellow: #eecf6d;

//Тени
$shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);

//Стандартные стили
%header {
  display: flex;
  align-items: center;
  background: linear-gradient(
    95.17deg,
    rgba(28, 27, 32, 0.9) 16.22%,
    #1c1b20 93.22%
  );
  box-shadow: $shadow;
  width: 100%;
  height: 10vh;
}

// Основные стили
body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//Меню
header {
  @extend %header;
}
.logotype {
  display: inline-block;
  margin-right: 178px;
  margin-left: 165px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  > li {
    padding-left: 5vw;
    > a {
      color: $white;
      font-size: 12px;
      line-height: 15px;
    }
  }
  :first-child {
    padding-left: 0;
  }
}

// Первая секция
.one-sec {
  background-color: $black;
}
